body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #ffffff;
    background-size: cover; 
    background-position: center; 
}

h1{
    color: #f2f2f2;
}


table {
    border-collapse: collapse;
    width: 97%;
    margin: 0 auto; 
    margin-bottom: 20px;
}

th, td {
    border: 1px solid hsl(0, 0%, 87%);
    text-align: left;
    padding: 8px;
}

th {
    background-color: rgba(51, 51, 51, 0.8);
    text-align: center;
}

td{
    background-color: rgba(82, 74, 74, 0.7);
    text-align: center;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    th, td {
        font-size: 14px;
    }
}
